<html>
      <head>
       <link href="/css/style.css" rel="stylesheet" type="text/css">
      </head>
          <body>
              <div class="create">
                  <div class="heading">
                    <h2>Upload</h2>
                    <form action="/Create" method="POST"  enctype="multipart/form-data">
                        <input type="hidden" name="r_id" value=''><hr />
                      
                          <label for="name">Title</label>
                          <input type="text" name="name"  placeholder="title" required><hr />
                          <label for="borough">Description</label>
                          <input type="text" name="borough"  placeholder="description"><hr />

                          <input type="file" name="filetoupload"> <hr />
                          <br><br>
                          <input type="submit" value="Submit"/>
                           <!-- upload photo-->
                           
                            
                          
                           

                          
                          </form>



                        </div>
                </div>
           </body>
        </html>
                