</html>
<%  var count=0; %>
    
    <% include header.ejs %>

            <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- Full width -->
            


            <form action="/Create">
            
                <button type="submit" class="btn" style="width:100%"><i class="fa fa-download"></i> Upload Photo</button>
            </form>
           

                    <div class='all'>
                    <% 
                    if( typeof(result) !="undefined") {
                    result.forEach(element => { 
                         count++;   %>    
                    <a href="/display?_id=<%= element._id%>"><%= element.name %> </a><br><br> <hr/><br><br>
                    <% });} %>
                    </div>

                    <br><br>

                </body>
</html>
